
body{
    background-image:url(https://frutiger-aero.org/img/frutiger-eco-2.webp)
   
}

h1 { 
    text-align: center;

}
.p1 { text-align: center;
    font-style: bold;
    font-size: larger;
    

}


